<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title">
      <%= Spree.t(:store_pickup) %>
    </h5>
  </div>
  <div class="card-body">
    <%= f.spree_check_box :store_pickup %>
  </div>
</div>
